/* ========== id */
#article-name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

/* ========== class */
.preview button {width: 25%!important}
.preview iframe {
  width: 100%;
  border: none;
}
.preview div, .preview iframe, .preview code {
  min-height: 100px;
  max-height: 300px;
}
.example {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 0.01em 16px;
  font-size: 12px;
  margin: 16px 0;
}
