/* ========== id */
#article-name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
#article-scroll {
  position: absolute;
  top: 16px;
  right: -21px;
}

/* ========== class */
.wrapper {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}
.article-nav1 {
  position: absolute;
  bottom: 16px;
}
