/* ========== id */
#slide button {
  background-color: rgba(0,0,0,0.2);
  padding: 50px 10px;
}
#slide button:nth-child(1) {border-radius: 0 100% 100% 0}
#slide button:nth-child(2) {border-radius: 100% 0 0 100%}

/* ========== class */
.code-html, .code-css, .code-js{
  position: absolute;
  width: 60%;
  background-color: #333;
}
.kjnfksndf{
  animation: code 10s cubic-bezier(0,0,0,1) infinite,
             code1 10s cubic-bezier(0,0,0,1) infinite;
}
.code1{
  top: 50px;
  left: 10%;
	z-index: 1;
}
.code2{
  top: 100px;
  left: 30%;
	z-index: 2;
}
.code3{
  top: 150px;
  left: 20%;
	z-index: 3;
}
@keyframes code {
  1%, 34%, 67% {opacity: 0.1}
  0%, 33%, 66%, 100% {opacity: 1}
}
@keyframes code1 {
  0%, 100% {
    top: 50px;
    left: 10%;
  }
  10%, 33% {z-index: 2}
  33% {
    top: 100px;
    left: 30%;
  }
  43%, 66% {z-index: 3}
  66% {
    top: 150px;
    left: 20%;
  }
  0%, 76%, 100% {z-index: 1}
}
@keyframes code2 {
  0%, 100% {
    top: 100px;
    left: 30%;
  }
  10%, 33% {z-index: 3}
  33% {
    top: 150px;
    left: 20%;
  }
  43%, 66% {z-index: 1}
  66% {
    top: 50px;
    left: 10%;
  }
  0%, 76%, 100% {z-index: 2}
}
@keyframes code3 {
  0%, 100% {
    top: 150px;
    left: 20%;
  }
  10%, 33% {z-index: 1}
  33% {
    top: 50px;
    left: 10%;
  }
  43%, 66% {z-index: 2}
  66% {
    top: 100px;
    left: 30%;
  }
  0%, 76%, 100% {z-index: 3}
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
