/* ========== id */
#testi::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(90deg, #f1f1f1, transparent, transparent, transparent, transparent, #f1f1f1);
}
@keyframes testi {
  0% {transform: translateX(0)}
  100% { transform: translateX(-1500px)}
}

/* ========== class */
.code {
  width: 80%;
  background-color: #333;
  position: absolute;
}
@keyframes code {
  1%, 34%, 67% {opacity: 0.1}
  0%, 33%, 66%, 100% {opacity: 1}
}
@keyframes code1 {
  0%, 76%, 100% {z-index: 1}
  10%, 33% {z-index: 2}
  43%, 66% {z-index: 3}
  0%, 100% {
    left: 20px;
    top: 40px;
  }
  33% {
    left: 60px;
    top: 90px;
  }
  66% {
    left: 0;
    top: 140px;
  }
}
@keyframes code2 {
  43%, 66% {z-index: 1}
  0%, 76%, 100% {z-index: 2}
  10%, 33% {z-index: 3}
  0%, 100% {
    left: 60px;
    top: 90px;
  }
  33% {
    left: 0;
    top: 140px;
  }
  66% {
    left: 20px;
    top: 40px;
  }
}
@keyframes code3 {
  10%, 33% {z-index: 1}
  43%, 66% {z-index: 2}
  0%, 76%, 100% {z-index: 3}
  0%, 100% {
    left: 0;
    top: 140px;
  }
  33% {
    left: 20px;
    top: 40px;
  }
  66% {
    left: 60px;
    top: 90px;
  }
}
.code:nth-child(1) {
  left: 20px;
  top: 20px;
  z-index: 1;
  animation: code1 10s cubic-bezier(0,0,0,1) infinite,
              code 10s cubic-bezier(0,0,0,1) infinite;
}
.code:nth-child(2) {
  left: 60px;
  top: 70px;
  z-index: 2;
  animation: code2 10s cubic-bezier(0,0,0,1) infinite,
              code 10s cubic-bezier(0,0,0,1) infinite;
}
.code:nth-child(3) {
  left: 0;
  top: 120px;
  z-index: 3;
  animation: code3 10s cubic-bezier(0,0,0,1) infinite,
              code 10s cubic-bezier(0,0,0,1) infinite;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}
