/* ========== id */
#slide button {
  background-color: rgba(0,0,0,0.2);
  padding: 50px 10px;
}
#slide button:nth-child(1) {border-radius: 0 100% 100% 0}
#slide button:nth-child(2) {border-radius: 100% 0 0 100%}
#testi::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #f1f1f1, transparent, transparent, transparent, transparent, #f1f1f1);
}
#testi .w3-responsive {overflow: hidden}
#testi table {width: 3000px}
#testi td {width: 300px}

/* ========== class */
.code {
  position: absolute;
  width: 60%;
  background-color: #333;
}
.code1{
  top: 50px;
  left: 10%;
  z-index: 1;
  animation: code1 .2s linear;
}
.code2{
  top: 100px;
  left: 30%;
  z-index: 2;
  animation: code2 .2s linear;
}
.code3{
  top: 150px;
  left: 20%;
  z-index: 3;
  animation: code3 .2s linear;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* ========== keys */
@keyframes code1 {
  from {
    opacity: .5;
    top: 150px;
    left: 20%;
  }
  to {
    opacity: 1;
    top: 50px;
    left: 10%;
  }
}
@keyframes code2 {
  from {
    opacity: .5;
    top: 50px;
    left: 10%;
  }
  to {
    opacity: 1;
    top: 100px;
    left: 30%;
  }
}
@keyframes code3 {
  from {
    opacity: .5;
    top: 100px;
    left: 30%;
  }
  to {
    opacity: 1;
    top: 150px;
    left: 20%;
  }
}
@keyframes testi {
  0% {transform: translateX(0)}
  100% {transform: translateX(-1500px)}
}
