/* ========== element */
html, body, img {
  width: 100%;
  height: 100%;
}
img {object-fit: cover}
a {text-decoration: none}
table {border-collapse: collapse}
thead td {
  font-weight: bold;
  white-space: nowrap;
}
td {vertical-align: top}
label {cursor: pointer}

/* ========== id */
#body {position: fixed}
#body, #inner-wrapper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#body, #skeleton, #outer-wrapper, #inner-wrapper {
  width: 100%;
  height: 100%;
}
#outer-wrapper {position: relative}
#inner-wrapper {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}
#loader {
  display: inline;
  z-index: 4;
}
#toast {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 60px;
  width: 100%;
  z-index: 5;
  padding: 0 10px;
}
#toast, #next-post {display: none}
#toast-msg {
  background-color: rgba(0,0,0,0.5);
  margin: auto;
  max-width: 400px;
}
#bookmark-icon {}

/* ========== class */
.header-btn {vertical-align: middle}
.sidebar {
  display: none!important;
  z-index: 3!important;
  width: 300px!important;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}
.pointer {cursor: pointer}
.menubar-content {
  display: none;
  background-color: #e5e5e5;
}
.wrapper {
  max-width: 570px;
  margin: auto;
}
.thumbnail {
  width: 75px;
  height: 75px;
}
.socmed-icon {padding: 0 5px}
