/* ========== element */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {text-decoration: none}
textarea {resize: none}
label {cursor: pointer}
pre, code {margin: 0}
table {border-collapse: collapse}
thead td {
  font-weight: bold;
  white-space: nowrap;
  background-color: #f1f1f1;
}

/* ========== id */
#body, #toast {position: fixed}
#body, #inner-wrapper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#body, #layout, #outer-wrapper, #inner-wrapper {
  width: 100%;
  height: 100%;
}
#inner-wrapper {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}
#menubar, #searchbar {z-index: 4}
#loader {z-index: 5}
#toast {
  left: 0;
  right: 0;
  width: 100%;
  top: 75vh;
  z-index: 6;
}
#toast div {
  margin: auto;
  max-width: 500px;
  background-color: rgba(0,0,0,0.5);
}

/* ========== class */
.bg-sunny {background-image: linear-gradient(#fff,#ff9800)}
.bg-day {background-image: linear-gradient(#fff,#2196F3)}
.bg-night {background-image: linear-gradient(#fff,#616161)}
.titles span {animation: blink 1s linear infinite}
@keyframes blink {
  from {color: #fff}
  to {color: #757575}
}
.w3-row {
  display: flex!important;
  flex-wrap: wrap;
}
.sidebar {
  width: 100%;
  max-width: 350px;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}
.thumbnail {
  width: 75px;
  height: 75px;
}
.centered {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}
.a-hide {
  opacity: 0;
  animation: a-hide 0.5s linear;
}
@keyframes a-hide {
  from {opacity: 1}
  to {opacity: 0}
}
.top-radius {border-radius: 8px 8px 0 0}
.right-radius {border-radius: 0 8px 8px 0}
.bottom-radius {border-radius: 0 0 8px 8px}
.left-radius {border-radius: 8px 0 0 8px}
.socmed-icon {padding: 0.01em 5px}
