/* ========== element */
h4 {border-bottom: 2px solid #2196F3}
h4 div {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 8px 16px;
  color: #3a3a3a;
  border-radius: 0 8px 0 0;
}
mark {
  background-color: #f1f1f1;
  color: #f44336;
  padding: 1px 8px;
}
summary::before {content: ''}
::-webkit-details-marker {display: none}

/* ========== class */
.notes {
  background-color: #ffffcc;
  color: #3a3a3a;
  font-size: 12px;
  margin: 16px 0;
  padding: 0.01em 16px;
  border-left: 6px solid #f0e68c;
  border-radius: 4px;
  text-align: justify;
}
